body {
    background-color: rgb(0, 131, 148);
}

.container {
    background-color: #fff;
    max-width: 50%;
    margin: 30px auto;
    border-radius: 10px;
    padding: 15px;
}

.tableImc {
    width: 80%;
    margin: auto;
    padding: 0%;
    border: 2px solid;
    border-collapse: collapse;
}

.tableImc th {
    background-color: rgb(98, 179, 255);
}

.tableImc tr td {
    border-bottom: 1px solid;
    text-align: center;
}

.tableImc th,
td {
    padding: 10px;
}

* {
    font-family: sans-serif;
}

.texto {
    max-width: 80%;
    margin: auto;
}

.button {
    width: 100%;
    margin: 0%;
    border-radius: 15px;
    background-color: rgb(100, 211, 255);
    height: 1%;
    font-size: 15px;
    padding: 5px;
    cursor: pointer;
    margin-top: 4%;
}

.data {
    max-width: 100%;
    margin-top: 20px;
    margin-left: 10%;
    margin-bottom: 8%;
    font-size: 20px;
    font-weight: bold;
}

.dataBlocks {
    position: relative;
    float: left;
    width: 44%;
    text-align: center;
}

.inputData {
    height: 25px;
    max-height: 10%;
    font-size: 20px;
    max-width: 120px;
    text-align: center;
}

.result {
    font-weight: bold;
    font-size: 20px;
    margin: auto;
    text-align: center;
    width: 80%;
}

.greenResult {
    background-color: chartreuse;
}

.redResult {
    background-color: red;
}
